pytest==8.3.5
requests==2.32.3
psycopg2-binary==2.9.10
selenium==4.30.0
faker==37.1.0
dotenv==0.9.9
sqlalchemy==2.0.40
sqlmodel==0.0.24
allure-pytest==2.14.0
requests-toolbelt==1.0.0
curlify==2.2.1
pkce==1.0.3
jinja2==3.1.6
